<div class="post-comments-list">
    <ul>
        <%for(comment of post.comments){%>
          
           <li>
                <p>
                    <% if((locals.user) && (locals.user.id == comment.user)){%>
                        <small>
                            <a href="/comments/destroy/<%= comment.id %>"><i class="fa-solid fa-trash"></i></a>
                        </small>
                    <%}%>
                    <%= comment.content%>
                    <br>
                    <small>
                        <%= comment.user.name%>
                    </small>

                   <!-- for likes -->
                   <small>
                    <% if (locals.user){ %>
                        <form action="/likes/toggle/?id=<%=comment._id%>&type=Comment" method="post">
                           <button type="submit"><i id="heart" class="fa-regular fa-heart"></i></button>
                           <h4><%= comment.likes.length %> Likes</h4>
                        </form>
                    <% }else{ %>
                        <%= comment.likes.length %> Likes
                    <% } %>
                   </small>
               </p>
           </li>

        <%}%>
    </ul>

</div>